*{
    margin: 0;
}

h1 {
    text-align: center;
}
div{
    text-align: center;
}

.title{
    background-color: white;
    width: 100vw;
}

.container{
    width: 100%;
}


.sidebar1{
    width: 20%; 
    height: 1000px; 
    float: left; 
    font-size: 40px; 
    background: tomato;
}

.sidebar2{
    width: 20%; 
    height: 110vh; 
    float: right; 
    font-size: 40px; 
    background: gray;
}

.center{
    height: 110vh;
    width: 60%;
    float: left;
}

footer {
    background-color: black;
    color: white;
    clear: both;
    height: 10vh;
}